<div fxLayout="row wrap" class="pt-3 container" fxLayoutGap="3rem" fxLayoutAlign="start center">

  <div fxFlex="40%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Contact Component
    </h4>
    <h6>With supporting text below as a natural lead-in to additional content.</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>

  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Contact Component
    </h4>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde velit reiciendis illo alias recusandae rem assumenda? In culpa, repellendus at, quasi, ratione officiis aliquam nisi ducimus consequuntur non rem.</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>

  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Contact Component
    </h4>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde velit reiciendis illo alias recusandae rem assumenda? In culpa, repellendus at, quasi, ratione officiis aliquam nisi ducimus consequuntur non rem.</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>

  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Contact Component
    </h4>
    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid unde velit reiciendis illo alias recusandae rem assumenda? In culpa, repellendus at, quasi, ratione officiis aliquam nisi ducimus consequuntur non rem.</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>
</div>
