<div fxLayout="row wrap" class="pt-3 container" fxLayoutAlign="center center">

  <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-between ">

    <div fxFlex="47%" class="shadow bg-body rounded p-3 m-3">
      <h4>
        Services Component
      </h4>
      <h6>With supporting text below as a natural lead-in to additional content..</h6>
      <button class="btn btn-primary">Go somewhere</button>
    </div>
    <div fxFlex="47%" class="shadow bg-body rounded p-3 m-3">
      <h4>
        Services Component
      </h4>
      <h6>With supporting text below as a natural lead-in to additional content..</h6>
      <button class="btn btn-primary">Go somewhere</button>
    </div>
  </div>
  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Services Component
    </h4>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium commodi repellat quaerat, veniam illum
      beatae quia repellendus voluptatibus doloribus omnis, eius neque accusamus quos eum nisi culpa! Voluptatum,
      eligendi labore..</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>
  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Services Component
    </h4>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium commodi repellat quaerat, veniam illum
      beatae quia repellendus voluptatibus doloribus omnis, eius neque accusamus quos eum nisi culpa! Voluptatum,
      eligendi labore..</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>
  <div fxFlex="100%" class="shadow bg-body rounded p-3 m-3">
    <h4>
      Services Component
    </h4>
    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium commodi repellat quaerat, veniam illum
      beatae quia repellendus voluptatibus doloribus omnis, eius neque accusamus quos eum nisi culpa! Voluptatum,
      eligendi labore..</h6>
    <button class="btn btn-primary">Go somewhere</button>
  </div>

</div>
